<!-- herencia de base.html -->
{% extends 'base.html' %}


<!-- título de la página -->
{% block title %}
    Lista_todos_empleados
{% endblock title %}
    

{% block content %}
{% include 'includes/header.html' %}

<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell">Lista Empleados</h1>
        <!-- el form activa las opciones de input y button por html -->
        <form class="cell grid-x grid-margin-x" method="GET">
            {% csrf_token %}
            <div class="cell large-5">
                <input type="text" id="kword" name="kword" placeholder="Buscar empleado">
            </div>
            <div class="cell large-2">
                <button class="submit success button" style="border-radius: 8px">Buscar</button>
            </div>
        </form>
        <div class="cell">
            <table>
                <thead>
                  <tr>
                    <th width="50">ID</th>
                    <th width="50">NOMBRES</th>
                    <th width="50">APELLIDOS</th>
                    <th width="50">DEPARTAMENTOS</th>
                    <th width="50">ACCION</th>
                  </tr>
                </thead>
                <tbody>
                    {% for empleado in object_list %}
                  <tr>
                    <td>{{ empleado.id }}</td>
                    <td>{{ empleado.first_name }}</td>
                    <td>{{ empleado.last_name }}</td>
                    <td>{{ empleado.departamento }}</td>
                    <!-- ACCION -->
                    <td>
                        <!-- debemos pasar un identificador para el DetailView, empleado.id -->
                        <a class="button primary" style="border-radius: 8px" href="{% url 'persona_app:detail_empleado' empleado.id %}">Ver</a>
                    </td>
                  </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock content %}


<!-- Lista de todos los empleados -->
<!-- a través de un context_object_name en la view -->
<!-- {{ lista }} -->

<!-- sin incluir un context_object_name en la view -->
<!-- {{ object_list }} -->

<!--
<h1>Lista de todos los empleados</h1>
    
<ul>
    {% for empleado in object_list %}
        <li>{{ empleado }}</li>
    {% endfor %}
</ul>
-->