<!-- herencia base.html -->

{% extends 'base.html' %}


<!-- título -->

{% block title %}
    Actualizar_empleado
{% endblock title %}


<!-- body -->

{% block content %}
    
    <!-- cabecera -->

    {% include 'includes/header.html' %}


    <!-- contenido -->

    <div class="grid-container">
        <div class="grid-x">
            <h1 class="cell">Actualización de empleado</h1>

            <div class="cell">
                <form method="POST">

                    <!-- llave de seguridad para negociación http -->
                    {% csrf_token %}
                
                    {{ form.as_p }}
                
                    <button type="submit">Actualizar</button>
                </form>
            </div>

        </div>
    </div>
{% endblock content %}
    
