<!-- herencia base.html -->

{% extends 'base.html' %}


<!-- título -->

{% block title %}
    Actualizar_empleado
{% endblock title %}


<!-- body -->

{% block content %}
    
    <!-- cabecera -->

    {% include 'includes/header.html' %}


    <!-- contenido -->

    <div class="grid-container">
        <div class="grid-x">
            <h1 class="cell">Actualización de empleado</h1>

            <div class="cell">
                <form class="grid-x grid-margin-x" method="POST">

                    <!-- llave de seguridad para negociación http -->
                    {% csrf_token %}

                    <div class="cell large-6">
                        <label>Nombres:
                            {{ form.first_name }}
                        </label>
                    </div>
                    <div class="cell large-6">
                        <label>Apellidos:
                            {{ form.last_name }}
                        </label>
                    </div>
                    <div class="cell large-6">
                        <label>Trabajo:
                            {{ form.job }}
                        </label>
                    </div>
                    <div class="cell large-6">
                        <label>Departamento:
                            {{ form.departamento }}
                        </label>
                    </div>
                    <div class="cell large-6">
                        <label>Habilidades extra:
                            {{ form.habilidades }}
                        </label>
                    </div>
                    <div class="cell">
                        <button type="submit" class="submit success button" style="border-radius: 8px">Guardar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
{% endblock content %}
