<!-- herencia base.html -->

{% extends 'base.html' %}


<!-- título -->

{% block title %}
    Crear_nuevo_departamento
{% endblock title %}
    

<!-- body -->

{% block content %}
    

    <!-- cabecera -->

    {% include 'includes/header.html' %}


    <!-- contenido -->

    <div class="grid-container">
        <div class="grid-x">
            <h1 class="cell">Registrar nuevo departamento</h1>
            
            <form class="cell callout grid-x grid-margin-x" method="POST">
                
                <!-- llave de seguridad para negociación html -->
                {% csrf_token %}

                <p class="cell">Datos del Empleado</p>
                
                <!-- elementos copiados del formulario -->
                <div class="cell large-6">
                    <label>Nombres:
                        {{ form.nombre }}
                    </label>
                </div>
                <div class="cell large-6">
                    <label>Apellidos:
                        {{ form.apellido }}
                    </label>
                </div>

                <p class="cell">Datos del Area/Departamento</p>
                
                <div class="cell large-6">
                    <label>Area/Departamento:
                        {{ form.departamento }}
                    </label>
                </div>
                <div class="cell large-6">
                    <label>Nombre corto:
                        {{ form.short_name}}
                    </label>
                </div>
                <div class="cell">
                    <button type="submit" class="submit success button" style="border-radius: 8px">Guardar</button>
                </div>
            </form>
        </div>
    </div>
    
{% endblock content %}
