<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Departamento</title>
</head>
<body>
<h1>Registrar nuevo departamento</h1>

<form method="POST">
    <!-- security key to negotiation html -->
    {% csrf_token %}

    <hr>

    <h3>Datos Empleado</h3>
    <p>{{ form.nombre }}</p>
    <p>{{ form.apellido }}</p>

    <hr>

    <h3>Datos Departamento</h3>
    <p>{{ form.departamento }}</p>
    <p>{{ form.short_name }}</p>

    <button type="submit">Guardar</button>
</form>

</body>
</html>