<!-- carga archivos estáticos -->
{% load static %}


<!-- HEAD -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- carga de CSS foundations -->
    <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}">
    <title>
        <!-- bloque de título -->        
        {% block title %}
            
        {% endblock title %} 
    </title>
</head>


<!-- BODY -->
<body>

<!-- bloque de contenido o body -->
{% block content %}
    
{% endblock content %}


<!-- SCRIPT -->
<!-- 
código javascrip de la página de foundation, incluir todas las rutas js dentro del tag static 
-->
<script src= {% static 'js/vendor/jquery.js' %}></script>
<script src= {% static 'js/vendor/what-input.js' %}></script>
<script src= {% static 'js/vendor/foundation.min.js' %}></script>
<script> 
  $(document).foundation();
</script>
    
</body>
</html>